@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="c-section1">
    <div class="c-first-color">
        <div class="row" style="padding:5%">
            <div class="col c-first-img-home">
                <img src="./Images/Image1.jpeg" class=" c-shadow" alt="" width="247" height="350">
            </div>
            <div class="c-text-block col">
                <h1 class="c-first-text">
                    Yummy.&nbsp;
                    <br />
                    Fast.
                </h1>
                <p class="mb-4">Offering most delecious recipes of various cultures. </p>
                <a class="c-read-more-button" href="https://github.com/dinamaged1/RecipeApp-Exercise3" style="cursor:pointer">READ MORE</a>
            </div>
            <div class="col c-first-img-home-copy">
                <img src="./Images/Image1.jpeg" class=" c-shadow" alt="" width="247" height="350">
            </div>
            <div class="col">
                <img src="./Images/Image2.jpeg" class="c-second-img-home c-shadow" alt="" width="247" height="350">
            </div>
        </div>
    </div>
    <div class="c-second-color-div row">

    </div>
</section>
